#card {
    width: 200px; /* Set the width of your card */
    height: 200px; /* Set the height of your card */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Clip the image within the card */
  
    /* You can customize other styles like box shadow and margin */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
  }
  
  #card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire card */
  }
  
  #card-text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.43); /* Background color for text */
    padding: 10px; /* Add some padding to the text */
    width: 100%;
    height: 100%;
  }
  
  #card-name {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
    margin: 0; /* Remove default margin */
  }
  
  #card-button {
    background-color: #007bff; /* Blue button background color */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; /* Add hover transitions */
  
    /* Box shadow for the button */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #card-button:hover {
    background-color: #0056b3; /* Change color on hover */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Add hover box shadow */
    color: #fff; /* Change text color on hover */
  }
  
  