@import url(https://fonts.googleapis.com/css?family=Montserrat);

.full-navbar {
  display: flex;
  background-color: rgb(32, 31, 31); 
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  width: 100%;
  margin: 0 0rem;
}


.navbar {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 0px;
  text-align: center;
  margin: 0;
}

.navbar img {
  margin-left: 30px;
  width: 120px;
  max-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar a, .cta {
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  text-decoration: none;
}

/* Style the list items (buttons) */
.navbar li {
  flex: 1; /* Distribute available space equally among list items */
  height: 100%;
}

.navbar li.active a {
  color: rgb(81, 156, 255);
}

/* Style the Link components inside the list items */
.navbar li a {
  display: flex; /* Use flexbox to align content vertically */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 100%; /* Make sure the links take full height of the list items */
  margin: 0; /* Remove any margin */
  padding: 10px 0; /* Set vertical padding for the buttons */
  background-color: rgb(32, 31, 31); /* Set button background color */
  color: #fff; /* Set button text color */
  text-decoration: none; /* Remove underline from links */
  transition: all 0.3s ease; /* Add transition effect for smooth hover */
}

/* Apply hover effect */
.navbar li a:hover {
  background-color: rgb(114, 174, 253); /* Change button background color on hover */
}

.cta:hover {
  background-color: rgba(162, 85, 3, 0.8);
}

.logo {
  width: 10rem;
  height: 3.5rem;
  margin-top: 8px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 8px 15px;
  background-color: rgb(114, 174, 253);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(55, 85, 123);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .search-container {
    flex-grow: 1;
    justify-content: flex-end;
  }
}
