

.location-instance-container {
    max-width: 800px;
    margin: 5vh auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .location-name {
    margin-top: 30px;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .location-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .location-image img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .location-details {
    margin-top: 2rem;
    flex: 1;
  }
  
  .location-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .location-details p {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .location-hours h2,
  .location-reviews h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .location-hours ul,
  .location-reviews ul {
    list-style: none;
    padding: 0;
  }
  
  .location-hours li,
  .location-reviews li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .review-item {
    background-color: #117ab3;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;

  }
  
  .review-item h3 {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  
  .review-item p {
    font-size: 18px;
    color: #fff;
    margin: 0;
  }
  
  .rating {
    font-size: 24px;
  }